#Ignore IntelliJ files
*.iml
*.idea

#Ignore LoadstoneDataBase.db file - lot of megabytes :P
*.db

#Ignore java files compiled to bytecode (target folder)
*.class

#Ignore LateX stuff
*.aux
*.dvi
*.log
*.toc
*.synctex.*
*.out
